html {
    overflow: hidden;

    body {
        height: 100dvh;
        display: flex;
        flex-direction: column;

        .main-content {
            flex-grow: 1;
            display: flex;

            .v-layout > nav {
                position: initial !important;
            }
        }
    }
}
