body {
    --space: 0.5rem;

    font-family: sans-serif;
    height: 100dvh;
    margin: 0;

    header {
        .p-menubar {
            border-radius: 0;
        }

        .p-menubar-end {
            display: flex;
            gap: var(--space);
        }
    }
}
